.search-results {
    .search-snippet-info {
      font-size: 85%;
      font-style: italic;
      padding-bottom: @padding-base-horizontal;

      .url a { color: @brand-darkgreen}
    }
    h3 a {
      color: @brand-lightblue;
    }
}